
.cover {
    position: relative;    
}
.container .navbar-container {
    position: absolute;
    background-color: #404eed;
    color: #ffffff;
    margin-top: 2%;
}

.container .coverImages .left {
    width: 55%;
    position: absolute;
    left: -32%;
    margin-top: 20.25%;
    overflow: hidden;
}

.container .coverImages .right {
    /* width: 50%; */
    /* border: 10px solid black; */
    max-width: 21%;
    position: absolute;
    left: 79%;
    margin-top: 20%;
    overflow: hidden;
}

.container .center {
    position: absolute;
    margin-top: -1%;
    left: -51%;
    max-width: 151%;
    overflow: hidden;
    background-color: #404eed;
    
}

.container .center img {
    /* position: absolute; */
    /* margin-top: -2%; */
    /* background-color: #404eed; */
}


.dlogo {
    color: #ffffff;
    background-color: #404eed;
    width: 70%;
}

.navbar {
    display: flex;
    margin-left: 50%;

}

.list {
    display: flex;
    margin-left: 15%;
}

.brand {
    display: flex
}
.textLogo {
    align-items: center;
}

li {
    list-style-type: none;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #ffffff;
}